/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
 .jumbotron {
   color: grey;
  background-color: #000000;
  margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  color: grey;
  background-color: #000000;
  padding: 25px;
}

.modal-header{
  color: white;
  background-color: green;
  padding:35px 50px;
}

.modal-body{
  padding:40px 50px;
}

