{% extends 'Servicios/base.html' %}
{% block content %}
<body>
  <h1>Reporte Productos</h1>
  <br>
  {% for producto in listaproductos %}
  <div class="row">
  	<div class="hero">
  		<TABLE align=center width=100% height=20>

  		<div>
  			<TD width=500   align=center bgcolor="#D3D3D3">
  			{{producto.nombre}}
  			</TD>
  		</div>

  		<div>
  			<TD width=500   align=center bgcolor="#D3D3D3">
  			{{producto.descripcion}}
  			</TD>
  		</div>

  		<div>
  			<TD width=500   align=center bgcolor="#D3D3D3">
  			{{producto.precio}}
  			</TD>
  		</div>
  		</TABLE>
  	</div>
  </div>
  {% endfor %}
<br>
</body>
{%endblock%}
