{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sex Shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'profiles/style.css' %}">
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Sex Shop</h1>
  </div>
</div>

<!-- Barra de Navegación -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        {% url 'Contacto' as contacto %}
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas</a></li>
        <li {% if request.path == Contacto %} class="active" {% endif %}><a href="{% url 'contacto' %}">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        {% load account %}
          <li><a href="/accounts/logout"><span class="glyphicon glyphicon-user"></span> {% user_display user %}</a></li>
        {% else %}
          <li><a href="/accounts/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- Modal Login-->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal contenido-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-log-in center"></span> Login</h4>
        </div>
        <div class="modal-body">
          <form role="form" class="login" method="POST" action="accounts/login/">
            <div class="form-group">
              <label for="id_login"><span class="glyphicon glyphicon-user"></span> Usuario</label>
              <input type="text" name="login" autofocus="autofocus" class="form-control" id="id_login" required placeholder="Usuario o correo">
            </div>
            <div class="form-group">
              <label for="id_password"><span class="glyphicon glyphicon-eye-open"></span> Contraseña</label>
              <input type="password" name="password" class="form-control" id="id_password"  required placeholder="Contraseña">
            </div>
            <div class="checkbox">
              <label for="id_remember"><input type="checkbox" name="remember" id="id_remember">Recuerdame</label>
            </div>
              <button type="submit" class="btn btn-success btn-block primaryAction"><span class="glyphicon glyphicon-log-in"></span> Ingresar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
          <p>No eres miembro? <a href="/accounts/signup/">Registrate</a></p>
          <p>Olvidaste tu <a href="#">Contraseña?</a></p>
        </div>
      </div>

    </div>
  </div>
  <!-- Bloque de contenido -->
  {% block content %}
  {% endblock %}
  <!-- Pie de página -->
  <footer class="container-fluid text-center">
    <p>Online Store Copyright</p>
  </footer>

</body>
</html>
