{% extends 'Servicios/base.html' %}


{% block content %}
<!-- Contenido Servicios-->
<br>

<h1>  <div class='hero'> &nbsp &nbsp &nbsp &nbsp{{title}} </div></h1>

<div class="container">

	<a href="{% url 'reporte_pdf' %}" class="btn btn-info btn-lg text-center">
			<span class="glyphicon glyphicon-file"></span>
			<p>Descargar pdf</p>
	</a>
</div>
<br>

{% for producto in listaproductos %}
<div class="container-fluid">
	<div class="row">
		<div class='hero'>
			<TABLE ALIGN=CENTER WIDTH=100% HEIGHT=20>

			<div class="info-block col-xs-12 col-sm-4">
				<TD width=500   ALIGN=CENTER BGCOLOR="#D3D3D3">
				{{producto.nombre}}
				</TD>
			</div>


			<div class="info-block col-xs-12 col-sm-4">
				<TD width=500   ALIGN=CENTER BGCOLOR="#D3D3D3">
				{{producto.descripcion}}
				</TD>
			</div>

			<div class="info-block col-xs-12 col-sm-4">
				<TD width=500   ALIGN=CENTER BGCOLOR="#D3D3D3">
				{{producto.precio}}
				</TD>
			</div>
			</TABLE>
		</div>
	</div>
</div>

{% endfor %}

<br>
<br>
{%endblock%}
