{% extends "account/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% block head_title %}{% trans "Cambio de contraseña" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Token inválido" %}{% else %}{% trans "Cambio de contraseña"" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}El enlace de restablecimiento de contraseña es inválido, posiblemente porque ya fue usado.  Por favor solicita un <a href="{{ passwd_reset_url }}">nuevo restablecimiento de contraseña</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% bootstrap_form form  %}
                <input class="btn btn-success" type="submit" name="action" value="{% trans 'Cambiar contraseña' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Tu contraseña ha cambiado.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
