{% extends "account/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Recuperar contraseña" %}{% endblock %}

{% block content %}

    <h1>{% trans "Recuperación de contraseña" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Has olvidado tu contraseña? Ingresa tu dirección de correo electrónico, y te enviareos un correo para recuperarla." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% bootstrap_form form  %}
        <input type="submit" class="btn btn-success" value="{% trans 'Recuperar contraseña' %}" />
    </form>

    <p>{% blocktrans %}Por favor contactanos si tienes algún problema con la recuperación de la contraseña.{% endblocktrans %}</p>
{% endblock %}
