{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Restablecimiento de contraseña" %}{% endblock %}

{% block content %}
    <h1>{% trans "Restablecimiento de contraseña" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}Te hemos enviado un correo. Por favor contáctanos si no lo has recibido dentro de unos minutos.{% endblocktrans %}</p>
{% endblock %}
