{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verificación de correo" %}{% endblock %}

{% block content %}
<h1>{% trans "Verificación de correo" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Esta parte del sitio es para verificar que si eres quien dices ser. Para este propósito, requerimos que demuestres la pertenencia de tu correo. {% endblocktrans %}</p>

<p>{% blocktrans %}Te hemos enviado un correo de verificación. Por favor has click en el enlace del orreo. Por favor contactanos si no recibes el correo en unos minutos.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Nota:</strong> Todavía puedes <a href="{{ email_url }}">cambiar tu dirrección de correo</a>.{% endblocktrans %}</p>


{% endblock %}
