{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sex Shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'profiles/style.css' %}">
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Sex Shop</h1>
  </div>
</div>

<!-- Barra de Navegación -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="modal" href="#myModal"><span class="glyphicon glyphicon-user"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-log-in center"></span> Login</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Usuario</label>
              <input type="text" class="form-control" id="usrname" placeholder="Introduzca el correo">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Contraseña</label>
              <input type="password" class="form-control" id="psw" placeholder="Introduzca la contraseña">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Recuerdame</label>
            </div>
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-log-in"></span> Ingresar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
          <p>No eres miembro? <a href="#">Registrate</a></p>
          <p>Olvidaste tu <a href="#">Contraseña?</a></p>
        </div>
      </div>

    </div>
  </div>
<!-- Contenido Ofertas -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Oferta Babydoll</div>
        <div class="panel-body"><img src="{% static 'img/promo-babydoll.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">50% de descuento</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">Oferta Juguetes</div>
        <div class="panel-body"><img src="{% static 'img/promo-juguetes.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">30% de descuento</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">Oferta Lencería</div>
        <div class="panel-body"><img src="{% static 'img/promo-lenceria.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Compra uno y lleva un descuento de 50% en el segundo</div>
      </div>
    </div>
  </div>
</div><br>
<br><br>

<!-- Pie de página -->
<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>
</footer>

</body>
</html>
